<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<system.webServer>
		<rewrite>
			<rules>
				<rule name="WordPress: http://fbc-jp.azurewebsites.net" patternSyntax="Wildcard">
					<match url="*" />
					<conditions>
						<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
						<add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
					</conditions>
					<action type="Rewrite" url="index.php" />
				</rule>
				<rule name="Redirect001" stopProcessing="true">
					<match url="(.*)"/>
					<conditions>
						<add input="{HTTP_HOST}" pattern="^www\.fbc\.de$" />
					</conditions>
					<action type="Redirect" url="https://fbc.de/{R:1}" redirectType="Permanent" />
				</rule>
			</rules>
		</rewrite>
	</system.webServer>
</configuration>
